#home{
    width: 100%;
    height: 90vh;
    display: flex;

    >section{
        width: 100%;

        &:first-of-type{
            padding-left: $p;
            >div{
                border-top: 1px solid $color6_2;
                height: 100%;
                padding-top: 4rem;

                >h1{
                    font: 900 4rem $text1;
                }

                .typewriterpara{
                    margin: 10px 0;
                    height: 5px;
                    letter-spacing: 5px;
                    font-weight: 900;
                }

                >div{
                    display: flex;
                    margin: 2.5rem 0;
                    width: 70%;
                    gap: 4rem;
                    align-items: center;

                    >a{
                        &:first-of-type{
                            background-color:$color3 ;
                            color: $color1;
                            padding: 1rem 2.5rem;
                            transition: all 0.3s;
                            &:hover{
                                background-color: $color3_1;
                            }

                        }
                        &:last-of-type{
                            font: 600 1.2rem $text2;
                            color: $color5;
                            display: flex;
                            align-items: center;
                        }

                    }
                }

                aside{
                    display: flex;
                    justify-content: space-between;
                    width: 70%;


                    
                

                >article{
                    margin: 2rem 0; 
                    width: 8rem;
                    color: $color5;
                    position: relative;
                    

                    &::after{
                      content: "";
                      background-color: $color4;  
                      width: 100%;
                      height: 5rem;
                      border-radius:50px ;
                      position: absolute;
                      top: 20%;
                      left: 20%;
                      z-index: -1;
                    }
                    >p{
                        font: 900 2rem $text2;
                    } 
                    
                    >span{
                        font: 500 1rem $text1;
                    }
                 }

                 article[data-special]{
                    width: 10.8rem;
                 }

                }

                
                 



            }

        }

        &:last-of-type{
            border-top: 1px solid $color6_2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            overflow-x: hidden;           


            >img{
                width: 35vmax;
                height: 35vmax;
                object-fit: contain;
                border-radius: 50%;
                position: relative;
                bottom: 60px;
                box-shadow: -7px 10px 10px black;
                transform: translateY(-2%);
                animation: animateImg 2s infinite linear alternate;
                
            }
        }


    }

    >svg{
        position: absolute;
        font-size: 3rem;
        color:$color5;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        animation: animateSvg 0.7s infinite linear alternate;
    }


}